__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
db.sqlite3
*.log
*.pot
*.py[cod]
*.swp
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/

# Django
*.sqlite3
*.log
/staticfiles/
/media/

# IDE / OS
.vscode/
.idea/

